@import '../../utils/utils.less';
.title {
  font-size: 20px;
  color: #333;
  margin: 20px 22px;
  line-height: 26px;
  height: 26px;
  > div {
    margin-left: 22px;
  }
  span {
    float: left;
    width: 12px;
    height: 12px;
    margin-top: 7px;
    background: -webkit-linear-gradient(left, #190f6b, #1890ff);
    background: -o-linear-gradient(right, #3023ae, #1890ff);
    background: -moz-linear-gradient(right, #3023ae, #1890ff);
    background: linear-gradient(to right, #3023ae, #1890ff);
    background: linear-gradient(to right, #3023ae, #1890ff);
  }
}

.content {
  .clearfix();
}

.content_item {
  float: left;
  width: 280px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 40px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);

  img {
    width: 80px;
    height: 80px;
    float: left;
    background: #fff;
  }
  .detail {
    width: 200px;
    height: 80px;
    margin-left: 80px;
    padding: 18px 12px;
    .name {
      font-size: 18px;
      color: #333;
      line-height: 24px;
      height: 24px;
    }
    .des {
      font-size: 12px;
      margin-top: 2px;
      color: #999;
      line-height: 20px;
      height: 20px;
      width: 176px;
      .textOverflow();
    }
  }
}

.clear {
  clear: both;
}

.flow_title {
  font-size: 24px;
  line-height: 30px;
  height: 30px;
  color: #333;
}

.flow_des {
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  color: #999;
  margin-left: 20px;
}

.clearfix {
  .clearfix();
}

.step2 {
  .step2_item {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative;
    .icon {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 20px;
      top: 20px;
      &.checked {
        background: url('/muChecked.png') no-repeat center center;
        background-size: 16px;
      }
      &.singelchecked {
        background: url('/singleChecked.png') no-repeat center center;
        background-size: 16px;
      }
      &.disabed_checked {
        background: url('/defaultChecked.png') no-repeat center center;
        background-size: 16px;
      }
    }
    &.checked {
      background: url('/muChecked.png') no-repeat 550px 22px;
      background-size: 16px;
    }
    &.singelchecked {
      background: url('/singleChecked.png') no-repeat 550px 22px;
      background-size: 16px;
    }
    &.disabed_checked {
      background: url('/defaultChecked.png') no-repeat 550px 22px;
      background-size: 16px;
    }
  }
  :global {
    .ant-form-item-label {
      padding-top: 10px;
      width: 90px;
    }
    .aside {
      width: 90px;
    }
    .ant-form-item-control-wrapper {
      width: 600px;
    }
  }
}
