@import '../../../utils/utils.less';
.select {
  :global {
    .ant-form-item-control {
      line-height: 40px;
    }
    .ant-select {
      line-height: 40px;
      height: 40px;
      width: 100%;
    }
    .ant-select-selection {
      height: 100%;
    }
    .ant-select-selection__rendered {
      line-height: inherit;
    }
  }
}

.mutiselect {
  :global {
    .ant-select-selection--multiple {
      min-height: 40px;
    }
    .ant-select {
      width: 100%;
    }
    .ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
      height: 32px;
      line-height: 32px;
    }
  }
}

.errorMsg {
  :global {
    .ant-select-selection {
      // border-color: @error-color;
    }
  }
}
