@import '../../../utils/utils.less';
.clearfix {
  .clearfix();
}

.global_modal {
  width: 800px;
  height: 410px;
  position: relative;
}

.modal_header,
.modal_footer {
  position: absolute;
  width: 100%;
}

:global {
  .ant-modal-header,
  .ant-modal-title {
    background: #1890ff;
    text-align: center;
    color: #fff;
  }
  .ant-modal-close {
    color: #1890ff;
  }
}

.modal_header {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  top: 0;
  background: #1890ff;
  .close {
    float: right;
    width: 20px;
    height: 20px;
    background: url('/add.png') no-repeat center center;
    background-size: 10px;
  }
  > div {
    float: right;
    text-align: center;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
  }
}

.modal_footer {
  height: 50px;
  bottom: 0;
  .clearfix();
  text-align: right;
  line-height: 50px;
  .btn {
    width: 90px;
    float: right;
    margin-right: 20px;
  }
}

.modal_content {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
  .clearfix();
}

.left_content {
  width: 566px;
  float: left;
  height: 100%;
  border-right: 1px solid #eee;
  padding: 20px 20px 0;
}

.type_name {
  height: 38px;
  line-height: 38px;
  span {
    float: right;
    width: 30px;
    height: 40px;
    background: url('/drop_down.png') no-repeat center center;
    background-size: 16px 10px;
  }
}

.switch_type {
  position: relative;
  float: left;
  width: 80px;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #eee;
}

.search {
  float: left;
  width: 437px;
  height: 40px;
  border-left: none;
  border: 1px solid #eee;
  > input {
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    height: 100%;
    padding-left: 10px;
    &:focus {
      border: 1px solid #1890ff;
    }
  }
  :global {
    .ant-select-selection--single {
      height: 38px;
    }
    .ant-select-selection__rendered {
      line-height: 38px;
    }
  }
}

.type_list {
  position: absolute;
  background: #fff;
  border: 1px solid #eee;
  border-top: none;
  z-index: 9;
  left: -1px;
  top: 41px;
  width: 80px;
  > div {
    padding-left: 15px;
    height: 40px;
    line-height: 40px;
    &:hover {
      color: #1890ff;
    }
  }
}

.select_result {
  padding-left: 20px;
  padding-top: 20px;
  float: right;
  width: 217px;
  height: 100%;
}

.search_result_content {
  .checkall,
  .filter {
    float: right;
    color: #333;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
  }
  .checkall {
    padding-left: 18px;
  }
  .filter {
    padding-left: 18px;
    background: url('/filter.png') no-repeat left center;
    background-size: 16px;
    margin-left: 20px;
    &.active {
      background: url('/filter.png') no-repeat left center;
      background-size: 16px;
    }
  }
  .quick_item {
    float: left;
    margin-right: 5px;
    padding: 0 7px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #333;
    text-align: center;
    border: 1px solid #ccc;
    &.active {
      background: #e7f3ff;
      border-color: transparent;
    }
  }
}

.item_info {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 52px;
  .clearfix();
}

.base_info {
  &.active {
    border: 1px solid #1890ff;
  }
  &.checked {
    background: rgba(24, 144, 255, 0.1);
  }
  img {
    width: 32px;
    float: left;
  }
  float: left;
  height: 52px;
  border: 1px solid #eee;
  padding: 7px 0 7px 8px;
}

.right {
  margin-left: 8px;
  padding-right: 6px;
  float: left;
  width: 120px;
}

.card,
.name,
.sno {
  line-height: 18px;
  height: 18px;
  font-size: 12px;
  float: left;
}

.sno {
  color: #999;
}

.name {
  width: 48px;
  color: #333;
  margin-left: 3px;
  .textOverflow();
}

.card {
  width: 16px;
  background: url('/card.jpg') no-repeat center center;
  background-size: 14px 11px;
}

.des {
  width: 108px;
  color: #666;
  margin-top: 2px;
  .textOverflow();
}

.extra {
  float: right;
  height: 52px;
}

.checked_list {
  padding-top: 20px;
  height: 350px;
  overflow: auto;
}

.checked_list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #1890ff;
}

.delete {
  width: 20px;
  float: left;
  height: 100%;
  border: 1px solid #e7f3ff;
  border-left: none;
  background: url('/delete.png') no-repeat center center;
  background-size: 10px;
}

.card_info {
  width: 296px;
}

.card_header {
  .clearfix();
  height: 40px;
  line-height: 40px;
  padding: 10px;
  border-bottom: 1px solid #1890ff;
  .staff_name {
    float: left;
    font-size: 14px;
    line-height: 20px;
    color: #1890ff;
    > span {
      color: #666;
      font-size: 12px;
      line-height: 18px;
    }
  }
  .status {
    float: right;
    font-size: 12px;
    line-height: 18px;
    color: #333;
    > span {
      width: 48px;
      color: #666;
    }
  }
}

.card_list {
  padding: 10px;
  > div {
    margin-top: 4px;
    font-size: 12px;
    color: #333;
    span {
      color: #666;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

.overlay {
  :global {
    .ant-popover-inner-content {
      padding: 0;
    }
  }
}

// 搜索结果
.more_opt {
  float: right;
}

.search_result {
  height: 240px;
  padding-top: 16px;
}

.page {
  // width: 320px;
  width: auto;
  height: 40px;
  float: right;
  padding-top: 10px;
  :global(.ant-pagination-item-active) {
    border-color: transparent;
  }
}

.dropdown {
  max-height: 320px !important;
}

.dropdown::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #1890ff;
}
