@import '../../../utils/utils.less';
.inteface {
  :global {
    .ant-form-item-control {
      line-height: 38px;
    }
    .ant-select {
      line-height: 38px;
      height: 38px;
      width: 100%;
    }
    .ant-select-selection {
      height: 100%;
    }
    .ant-select-selection__rendered {
      line-height: inherit;
    }
  }
}

.mutiinteface {
  height: 100%;
  :global {
    .ant-select-selection--multiple {
      min-height: 38px;
    }
    .ant-select {
      line-height: 38px;
      width: 100%;
    }
    .ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
      height: 32px;
      line-height: 32px;
    }
  }
}

.errorMsg {
  :global {
    .ant-select {
      border-color: #fff;
      outline: none;
    }
    .ant-select-selection {
      border-color: #fff;
      outline: none;
    }
    .ant-select-open .ant-select-selection {
      box-shadow: 0 0 8px @error-color;
    }
  }
}
