@import '../../utils/utils.less';
.form_item {
  min-height: 60px;
  padding-top: 10px;
  // padding-bottom: 5px;
  padding-right: 20px;
  width: 300px;
  // min-width: 300px; // position: absolute;
  display: flex;
  flex-direction: column;
  &:hover {
    .right {
      border-color: @primary-color;
    }
  }
  :global {
    .ant-time-picker-input[disabled]:hover {
      border-color: transparent;
    }
    .ant-select-selection__rendered {
      line-height: 28px;
    }
    .ant-select-disabled .ant-select-selection {
      background-color: @disable-bg-color;
    }
    .ant-input-disabled {
      background-color: @disable-bg-color;
    }
    .ant-time-picker-input[disabled] {
      background-color: @disable-bg-color;
    }
    .ant-select-auto-complete.ant-select .ant-input[disabled] {
      background-color: @disable-bg-color;
    }
    .ant-select-disabled .ant-select-selection--multiple .ant-select-selection__choice {
      color: #666;
      border-radius: 0;
    }
    .ant-select-disabled .ant-select-selection:hover {
      border-color: transparent;
    }
    .ant-form-explain {
      height: 20px;
      line-height: 18px;
      color: @error-color;
      padding-top: 2px;
      flex-shrink: 0;
      flex-grow: 0;
    }
    .ant-modal-close-x {
      color: #fff;
    }
    .ant-select-disabled {
      background-color: @disable-bg-color;
      height: 100%;
    }
    .ant-select.ant-select-enabled {
      height: 100%;
    }
    .ant-select-selection--multiple {
      // padding-bottom: 0;
      height: 100%;
      .ant-select-selection__clear {
        display: none;
      }
    }
    .ant-form-item-label {
      width: 120px !important;
      line-height: 20px;
      padding: 10px 0;
      height: 100%;
      white-space: normal;
    }
    .ant-calendar-picker-input.ant-input {
      height: 30px;
    }
    .ant-form-item {
      width: 100%;
      height: 100%;
      display: flex;
      background: pink;
      margin-bottom: 0 !important;
    }
    .ant-form-item-control-wrapper {
      height: 100%;
      flex: 0 1 auto;
      width: 100%;
    }
    .ant-form-item-control {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
      line-height: normal;
    }
    .ant-form-item-children {
      // flex-grow: 1;
      height: 100%;
    }
    .ant-input-number {
      width: 100%;
      height: 100%;
      line-height: 30px;
    }
    // .ant-input {
    //   padding: 10px;
    // }
    input.ant-input {
      // padding: 10px;
      line-height: 20px;
      height: 100%;
    }
    input.ant-input-number-input {
      line-height: 20px; // padding: 10px;
      height: 100%;
    }
    textarea.ant-input {
      line-height: 20px; // padding: 10px;
      height: 100%;
      min-height: 12px;
    }
  }
}

.item {
  display: flex;
  background: #fff;
  flex-grow: 1;
  .aside {
    width: 120px;
    height: 32px;
    line-height: 32px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: right;
    .form-title-text();
  }
  .right {
    flex-grow: 1;
    // min-width: 160px;
    border: 1px solid #d9d9d9;
    &:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    }
    :global {
      .ant-select-selection.ant-select-selection--multiple {
        border: none;
        min-height: auto;
      }
      .ant-select-focused .ant-select-selection,
      .ant-select-selection:focus,
      .ant-select-selection:active {
        border-color: transparent;
        box-shadow: none;
      }
      .ant-select-selection.ant-select-selection--single {
        background: url('/drop_down.png') no-repeat right center;
        background-size: 16px 16px;
        padding-right: 11px;
        background-origin: content-box;
      }
      .ant-select .ant-select-arrow {
        display: none;
      }
      .ant-select-selection__clear {
        top: 0;
        margin-top: 0;
        right: 30px;
        height: 26px;
        width: 30px;
        line-height: 26px;
      }
    }
    &.has_error {
      border-color: @error-color;
      box-shadow: 0 0 4px rgba(217, 51, 63, 0.1);
      :global {
        * {
          box-shadow: 0;
        }
        .ant-input-group.ant-input-group-compact > .ant-select > .ant-select-selection:hover,
        .ant-input-group.ant-input-group-compact > .ant-calendar-picker .ant-input:hover,
        .ant-input-group.ant-input-group-compact > .ant-select-auto-complete .ant-input:hover,
        .ant-input-group.ant-input-group-compact > .ant-cascader-picker .ant-input:hover,
        .ant-input-group.ant-input-group-compact > .ant-mention-wrapper .ant-mention-editor:hover,
        .ant-input-group.ant-input-group-compact > .ant-time-picker .ant-time-picker-input:hover,
        .ant-input-group.ant-input-group-compact > .ant-select > .ant-select-selection:focus,
        .ant-input-group.ant-input-group-compact > .ant-calendar-picker .ant-input:focus,
        .ant-input-group.ant-input-group-compact > .ant-select-auto-complete .ant-input:focus,
        .ant-input-group.ant-input-group-compact > .ant-cascader-picker .ant-input:focus,
        .ant-input-group.ant-input-group-compact > .ant-mention-wrapper .ant-mention-editor:focus,
        .ant-input-group.ant-input-group-compact > .ant-time-picker .ant-time-picker-input:focus,
        .ant-input:hover,
        .ant-select-selection__rendered:focus,
        .ant-input:focus {
          border-color: @error-color;
          box-shadow: none;
        }
        .ant-input-number:hover,
        .ant-input-number-input-wrap:focus,
        .ant-input-number:focus,
        .ant-input-number-focused,
        .ant-select-selection,
        .ant-select-selection:focus {
          box-shadow: none;
          border-color: transparent;
        }
      }
    }
  }
}

.error {
  margin-left: 120px;
  height: 18px;
  line-height: 18px;
  flex-shrink: 0;
  .error-text();
  .textOverflow();
}
