@import '../../../utils/utils.less';
.date {
  :global {
    .ant-calendar-picker {
      width: 100% !important;
    }
    .ant-time-picker {
      width: 100% !important;
    }
    .input.ant-calendar-picker-input {
      height: 38px !important;
    }
    input.ant-time-picker-input {
      height: 38px !important;
    }
  }
}

.time_popup {
  margin-top: 4px;
}

.date_popup {
  margin-top: 4px;
}

.errorMsg {
  :global {
    .ant-calendar-picker-input.ant-input {
      border: 0;
      box-shadow: 0 0 8px @error-color;
    }
    .ant-calendar-picker-input.ant-input:hover {
      box-shadow: 0 0 8px @error-color;
    }
    .ant-calendar-picker-input.ant-input:focus {
      box-shadow: 0 0 8px @error-color;
    }
    .ant-time-picker-input {
      border: 0;
      box-shadow: 0 0 8px @error-color;
    }
    .ant-time-picker-input:hover {
      border: 0;
      box-shadow: 0 0 8px @error-color;
    }
    .ant-time-picker-input:focus {
      box-shadow: 0 0 8px @error-color;
    }
  }
}
