@import '../../../utils/utils.less';
.text {
  :global {
    .ant-input-number {
      border-color: transparent;
    }
    .ant-input {
      border-color: transparent;
    }
  }
}
.errorMsg {
  height: 100%;
  :global {
    .ant-input {
      outline: none;
      border: 0;
    }
    // input.ant-input:focus {
    //   box-shadow: 0 0 4px @error-color;
    // }
    // .ant-input-number {
    //   border: 0;
    // }
    // .ant-input-number.ant-input-number-focused {
    //   box-shadow: 0 0 4px @error-color;
    // }
    // textarea.ant-input:focus {
    //   box-shadow: 0 0 4px @error-color;
    // }
  }
}

.noerror {
  height: 100%;
  :global {
    .ant-input-number {
      border-color: transparent;
    }
    .ant-input {
      border-color: transparent;
    }
  }
}
