@import '../../../utils/utils.less';
.address {
  :global {
    .ant-select-disabled .ant-select-selection:hover {
      border-color: #d9d9d9;
    }
    .ant-select-selection {
      height: 28px;
      border: 1px solid #d9d9d9;
      &:hover {
        border-color: @primary-color;
      }
    }
    .ant-form-item-children {
      display: flex;
      flex-direction: column;
    }
    .ant-form-item-control.has-error {
      padding-bottom: 0;
    }
    .ant-select-selection__rendered {
      height: 28px;
      line-height: 28px;
    }
    .ant-input-group {
      top: 0 !important;
      flex-shrink: 0;
      height: 28px;
      display: flex;
      > div {
        flex-grow: 1;
      }
    }
    textarea.ant-input {
      flex-grow: 1;
      &:hover {
        border-top-color: @primary-color;
      }
    }
    textarea {
      border-top: 1px solid transparent;
    }
    .ant-select-selection,
    .ant-select-selection:focus {
      box-shadow: none;
      // border-color: #ccc !important;
    }
  }
}

.errorMsg {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px; // border: 1px solid #d9333f;
  :global {
    .ant-select-selection {
      border-color: @error-color !important;
    }
    textarea {
      border-color: @error-color;
      border-top-color: transparent;
      &:hover {
        border-top-color: transparent !important;
      }
    }
  }
}

.noerror {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
