@import '../../../utils/utils.less';

.file {
  height: auto;
  min-height: 150px;
}

.errorMsg {
  // border: 1px solid @error-color;
}

.upfile {
  :global {
    .ant-upload.ant-upload-select-picture-card {
      height: 103px;
      width: 103px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .ant-upload-list-picture-card .ant-upload-list-item {
      height: 103px;
      width: 103px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .ant-upload-list-picture-card {
      float: none;
    }
  }
}
.filelist {
  :global {
    .ant-upload-list-picture .ant-upload-list-item,
    .ant-upload-list-picture-card .ant-upload-list-item {
      padding: 0;
      border: none;
    }
    .ant-upload.ant-upload-select-picture-card {
      height: 60px;
      width: 60px;
      margin-right: 10px;
      margin-bottom: 10px;
      // margin-top: 10px;
    }
    .ant-upload-list-picture-card .ant-upload-list-item {
      height: 60px;
      width: 60px;
      margin-right: 10px;
      margin-bottom: 10px;
      // margin-top: 10px;
    }
    .ant-upload-list-picture-card {
      float: none;
    }
  }
}
