@import '../../../utils/utils.less';

.file {
  height: auto;
  min-height: 150px;
}

.errorMsg {
  // border: 1px solid @error-color;
}

.upfile {
  :global {
    .ant-upload.ant-upload-select-picture-card {
      height: 103px;
      width: 103px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .ant-upload-list-picture-card .ant-upload-list-item {
      height: 103px;
      width: 103px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .ant-upload-list-picture-card {
      float: none;
    }
  }
}
.filelist {
  :global {
    .ant-upload.ant-upload-select-picture-card {
      height: 70px;
      width: 70px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .ant-upload-list-picture-card .ant-upload-list-item {
      height: 70px;
      width: 70px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .ant-upload-list-picture-card {
      float: none;
    }
  }
}
